zookeeper:
  image: wurstmeister/zookeeper
  ports:
    - 2181:2181
kafka:
  image: confluent/kafka
  ports:
    - 9092:9092
  links:
    - zookeeper:zookeeper
  environment:
    KAFKA_ADVERTISED_HOST_NAME: 192.168.99.100
# Currently returning error io.confluent.kafka.schemaregistry.storage.exceptions.StoreInitializationException: No live Kafka brokers
# schemaregistry:
#   image: confluent/schema-registry
#   ports:
#     - 8081:8081
#   links:
#     - zookeeper:zookeeper
#     - kafka:kafka
cassandra:
  image: relateiq/cassandra
  ports:
    - 9160:9160 # Thrift
    - 7199:7199 # JMX
    - 9042:9042 # CQL
    - 7000:7000 # Internode communication, non-TLS
    - 7001:7001 # Internode communication, TLS
elasticsearch:
  image: relateiq/elasticsearch
  ports:
    - 9200:9200 # HTTP
    - 9300:9300 # Internode
  # Manually overriding command so that we can set the es cluster name.
  command: /elasticsearch/bin/elasticsearch -f -D es.path.logs=/logs -D es.path.data=/data -D es.network.publish_host=127.0.0.1 -D es.cluster.name=elasticsearch_dynamic
mysql:
  image: mysql:5.6
  environment:
    MYSQL_ROOT_PASSWORD: password
  ports:
    - 3306:3306 # MySQL socket
# Todo schema registry
